////////////////////////////////////////////////////////////////
//
//  VARS
//
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
//
//  GLOBAL CONTEXT
//
////////////////////////////////////////////////////////////////

$g__global_context: 1920px;

////////////////////////////////////////////////////////////////
//
//  GLOBAL FONT STYLES
//
////////////////////////////////////////////////////////////////

$g__global_fontfamily: "Poppins";
$g__global_fontsize: 20px;
$g__global_lineheight: 38px;
$g__global_fontfamily_title: "GT-Super";

////////////////////////////////////////////////////////////////
//
//  Z INDEXES
//
////////////////////////////////////////////////////////////////

$g__z_base: 100;

////////////////////////////////////////////////////////////////
//
//  COLORS
//
////////////////////////////////////////////////////////////////

$g__c_color: #000;
$g__c_dark: #151b31;
$g__c_pink: #faede9;
$g__c_white: #fff;
